<mat-toolbar color="primary">
  Players
</mat-toolbar>
<div class="main">
  <div class="players-action">
    <div class="players-add">
      <mat-form-field>
        <a href="https://wa.me/?text=Me%20gustaría%20saber%20el%20precio%20del%20coche">message</a>
        <input
          type="text"
          placeholder="Ingrese un jugador"
          [(ngModel)]="newPlayer"
          (keyup.enter)="addPlayer()"
          matInput
        />
      </mat-form-field>

      <button
        type="button"
        (click)="addPlayer()"
        mat-raised-button
        color="primary"
      >
        Agregar
      </button>
    </div>
    <div>
      <button type="button" (click)="copyPlayers()">Copiar Jugadores</button>
    </div>
    <div>
      <button type="button" (click)="deleteAllPlayers()">Quitar todos</button>
    </div>
  </div>

  <mat-card>
    <ul>
      <li *ngFor="let player of players; let i = index">
        <label>{{ i + 1 }}. {{ player.name }}</label>
        <label (click)="removePlayer(player.id)" class="btn btn-link"
          >Quitar</label
        >
      </li>
    </ul>
  </mat-card>
</div>
