<mat-toolbar color="primary">
  Players
</mat-toolbar>
<div class="main">
  <div class="players-top">
    <div>
      <mat-form-field>
        <input
          type="text"
          placeholder="Ingrese un jugador"
          [(ngModel)]="newPlayer"
          (keyup.enter)="addPlayer()"
          matInput
        />
      </mat-form-field>
      <div class="container-btn">
        <button
          type="button"
          (click)="addPlayer()"
          mat-raised-button
          color="primary"
        >
          Agregar
        </button>
      </div>
    </div>
    <div>
      <div class="container-btn">
        <button type="button" (click)="copyPlayers()" mat-raised-button>
          Copiar Jugadores
        </button>
      </div>
      <div class="container-btn">
        <button type="button" (click)="deleteAllPlayers()" mat-raised-button>
          Quitar todos
        </button>
      </div>
    </div>
  </div>

  <mat-card>
    <ul>
      <li *ngFor="let player of players; let i = index">
        <button mat-button (click)="removePlayer(player.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <label>{{ i + 1 }}. {{ player.name }}</label>
      </li>
    </ul>
  </mat-card>
</div>
